@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office Library</h1>
    <p class="lead">This app allows Contoso employees to rent movies from the office library.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, risus id, hendrerit eleifend dicta vel adipisci, per purus dui integer aliquam in aliquam, dolor ornare volutpat suspendisse aliquam, neque eros. Auctor risus justo. Fusce gravida fringilla, semper sit nisl venenatis, fringilla pulvinar. Tortor sit ac montes a aenean sapien, arcu erat arcu et nec id lectus, odio tincidunt tortor risus, elementum id mauris nulla, sed cras.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More</h2>
        <p>
            Lorem ipsum dolor sit amet, risus id, hendrerit eleifend dicta vel adipisci, per purus dui integer aliquam in aliquam, dolor ornare volutpat suspendisse aliquam, neque eros. Auctor risus justo. Fusce gravida fringilla, semper sit nisl venenatis, fringilla pulvinar. Tortor sit ac montes a aenean sapien, arcu erat arcu et nec id lectus, odio tincidunt tortor risus, elementum id mauris nulla, sed cras.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contoso Office</h2>
        <p>
            Lorem ipsum dolor sit amet, risus id, hendrerit eleifend dicta vel adipisci, per purus dui integer aliquam in aliquam, dolor ornare volutpat suspendisse aliquam, neque eros. Auctor risus justo. Fusce gravida fringilla, semper sit nisl venenatis, fringilla pulvinar. Tortor sit ac montes a aenean sapien, arcu erat arcu et nec id lectus, odio tincidunt tortor risus, elementum id mauris nulla, sed cras.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>